<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="FidelityEquiz.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="Erecruit.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="phpNet" type="PHP.Core.ConfigurationSectionHandler, PhpNetCore, Version=4.0.0.0, Culture=neutral, PublicKeyToken=0a8e8c4c76728c71" />
    </sectionGroup>
  </configSections>
  <!--<phpnet>
    <classlibrary>
      <add assembly="PhpNetClassLibrary, Version=4.0.0.0,
            Culture=neutral, PublicKeyToken=4af37afe3cde05fb" section="bcl" />
      <add assembly="PhpNetMbstring, Version=4.0.0.0,
            Culture=neutral, PublicKeyToken=2771987119c16a03" />
      <add assembly="PhpNetGd2, Version=4.0.0.0,
            Culture=neutral, PublicKeyToken=2771987119c16a03" />
    </classlibrary>
  </phpnet>-->
  <connectionStrings>
    <add name="FidelityEquizConnectionString" connectionString="Data Source=OLUFEMI-PC\DB01;Initial Catalog=etest;Persist Security Info=True;User ID=sa;Password=banana" providerName="System.Data.SqlClient" />
    <!--<add name="etestConnectionStringy" connectionString="Data Source=KOFOBPR-001\DB01;Initial Catalog=etest;Persist Security Info=True;User ID=sa;Password=p@ssw0rd" providerName="System.Data.SqlClient" />-->
    <!--<add name="FidelityEquizConnectionString" connectionString="Data Source=10.10.0.109;Initial Catalog=FidelityEquiz;Persist Security Info=True;User ID=etest;Password=etest" providerName="System.Data.SqlClient" />-->
    <!--<add name="FidelityEquizConnectionString" connectionString="Data Source=10.10.7.83,1422;Initial Catalog=FidelityEquiz;Persist Security Info=True;User ID=EQuiz_user;Password=Equiz_2014" providerName="System.Data.SqlClient" />-->
    <!--<add name="etestConnectionString" connectionString="Data Source=10.10.0.109;Initial Catalog=etest;Persist Security Info=True;User ID=etest" providerName="System.Data.SqlClient" />-->
    <add name="QuizBookDbEntities" connectionString="metadata=res://*/QuizBookDb.csdl|res://*/QuizBookDb.ssdl|res://*/QuizBookDb.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=OLUFEMI-PC\DB01;initial catalog=QuizBookDb;user id=sa;password=banana;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="QuizBookDbEntities1" connectionString="metadata=res://*/QuizBookDb.csdl|res://*/QuizBookDb.ssdl|res://*/QuizBookDb.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=OLUFEMI-PC\DB01;initial catalog=QuizBookDb;user id=sa;password=banana;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.web>
    <!--<customErrors defaultRedirect="error.htm" mode="On" />-->
    <!--<customErrors mode="On" defaultRedirect="Views/Opps.aspx" redirectMode="ResponseRewrite">
      <error statusCode="404" redirect="Views/Opps.aspx" />
    </customErrors>-->
    <customErrors mode="Off" />

    <httpHandlers>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" validate="false" />
    </httpHandlers>
    <httpRuntime requestValidationMode="2.0" />
    <pages validateRequest="false" />
    <compilation debug="true" targetFramework="4.0">
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      </buildProviders>
      <assemblies>
        <add assembly="Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
        <add assembly="Microsoft.ReportViewer.Common, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
        <add assembly="Microsoft.Build.Framework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
    </compilation>
  </system.web>
  <appSettings>
    <add key="Sitekey" value="6LdH0hMTAAAAACd1GM9mpDHrLZte4a45wqY2qtFT" />
    <add key="Secretkey" value="6LdH0hMTAAAAABUfvQkl-_r5gDIkUy2s5xKFYJBG" />
    <add key="FicassLoginUrl" value="https://fid-se:4343/earth/ficaaslogin.aspx" />
    <add key="LDAPPath" value="LDAP://fidelitybank.com" />
    <add key="GlobalEmail" value="tobbyioa@gmail.com" />
    <add key="AppCode" value="77a30f6f-3cfb-4531-b792-9768ae02fd38" />
    <add key="AppCodex" value="77a30f6f-3cfb-4531-b792-9768ae02fd38" />
    <add key="AppCode_T" value="19412ae7-73f1-4e40-9089-4c6d13795757" />
    <add key="GeneralUserCode" value="1" />
    <add key="senderEmail" value="noreply@fidelitybankplc.com" />

    <add key="CandidateLogin" value="CandLogin.aspx" />
    <add key="AdminLogin" value="Login.aspx" />
    <!--<add key="AdminSiteHome" value="http://localhost:64289/QuizBook/" />-->
    <add key="AdminSiteHome" value="http://localhost/QuizBook" />
    <!--LocalHost = 0, Live & Test = 1  -->
    <add key="AppLocation" value="0" />
    <add key="AdminPerm" value="1,3,4,5,6,2,7,10" />
  </appSettings>
  <system.webServer>
    <staticContent>
      <mimeMap fileExtension="woff" mimeType="application/font-woff" />
      <mimeMap fileExtension="woff2" mimeType="application/font-woff" />
    </staticContent>
    <modules runAllManagedModulesForAllRequests="true" />
    <defaultDocument enabled="true">
      <files>
        <add value="Views/index.aspx" />
      </files>
    </defaultDocument>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
      <!--<add name="Phalanger" path="*.php" verb="*" type="PHP.Core.RequestHandler, PhpNetCore, Version=4.0.0.0, Culture=neutral, PublicKeyToken=0a8e8c4c76728c71" resourcetype="Unspecified" precondition="integratedMode" />-->
    </handlers>
  </system.webServer>
  <applicationSettings>
    <FidelityEquiz.Properties.Settings>
      <setting name="FidelityEquiz_FICAAS_FICAAS" serializeAs="String">
        <value>https://fid-se:4343/earth/ficaas.asmx</value>
      </setting>
      <setting name="FidelityEquiz_EmailService_EmailService" serializeAs="String">
        <value>https://fid-se:4343/earth/EmailService.asmx</value>
      </setting>
    </FidelityEquiz.Properties.Settings>
  </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <probing privatepath="Phalanger" />
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.4.0.0" newVersion="4.4.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>